body{
    background-color: rgb(198, 213, 175);
}
nav{
    display: flex;
    font-size: 30px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    background-color: pink;
    align-items: center;
}

.user{
    padding: 10px;
    border: red solid;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 20px;
}